<div class="row">
  <div class="panel large-8 large-centered columns">
  <h1 class="text-center"> New Quiz </h1><br>

  <%= form_for([@course, @lesson, @quiz]) do |f| %>
  <%= f.text_field :title, autofocus: true, placeholder: 'Quiz Title' %>
    <%= f.fields_for :questions do |question| %>
    <%= question.text_field :content, autofocus: true, placeholder: 'Question content' %>
      <%= question.fields_for :answers do |answer| %>
        <%= answer.check_box :correct %>
        <%= answer.text_field :content, autofocus: true, placeholder: 'Answer'%>
    <% end %><hr>
      <% end %>
      <%= hidden_field_tag :lesson_id, @lesson.id %>
      <%= hidden_field_tag :quiz_id, @quiz.id %>
      <%= f.submit class: "small button primary expand" %>
  <% end %>

</div>
</div>