<h1>Quizzes#new</h1>

<%= form_for([@course, @lesson, @quiz]) do |f| %>
    <%= f.fields_for :questions do |question| %>
      <%= question.label :question %>
      <%= question.text_field :content %>
      <%= question.fields_for :answers do |answer| %>
      <%= answer.check_box :correct %>
      <%= answer.label :answer %>
      <%= answer.text_field :content%>
      <% end %>
    <% end %>
    <%= f.submit %>
<% end %>
  