<div class="small-12 medium-6 large-6 columns text-center">
  <span style="font-size: 4em;">ZERO to HERO</span>
  <h1>in</h1> 
  <span style="font-size: 4em">16 Weeks.</span>
  <div clas="row small-12">
    <div class="small-4 columns">
      <i class="fa fa-code fa-5x"></i>
    </div>
    <div class="small-4 columns">
      <i class="fa fa-code-fork fa-5x"></i>
    </div>
    <div class="small-4 columns">
      <i class="fa fa-lightbulb-o fa-5x"></i>
    </div>
  </div>
</div>
<%= render 'devise/registrations/homenew', locals: { user: @user } %>



<hr class="spacing">
<h3 style="margin-bottom: 25px;">Featured Courses</h3>

 <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @courses.each do |course| %>
    <li>
      <div class="panel box">
        <%= link_to course_path(course) do %>
          <%= image_tag course.image.url :medium %>
          
          <h3 class="text-center">
            <%= course.name %>
          </h3>
          
          <p><%= course.description %></p>
          
          <% if course.users.include?(current_user) %>
            <%= link_to "unsubscribe", subscribe_path(id: course.id), method: :delete, class: 'button alert expand'%>
          <% else %>
            <%= link_to "Subscribe", subscribes_path(course_id: course.id), method: :post, class: 'button success expand'%>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>



