<div class="row">
<div class="small-12 medium-6 large-6 columns text-center">
  <span style="font-size: 4em;">ZERO to HERO</span>
  <h1>in</h1> 
  <span style="font-size: 4em">16 Weeks.</span>
  <div clas="row small-12">
    <div class="small-4 columns">
      <i class="fa fa-code fa-5x"></i>
    </div>
    <div class="small-4 columns">
      <i class="fa fa-code-fork fa-5x"></i>
    </div>
    <div class="small-4 columns">
      <i class="fa fa-lightbulb-o fa-5x"></i>
    </div>
  </div>
</div>
<%= render 'devise/registrations/homenew', locals: { user: @user } %>


<hr class="spacing">
<h3 style="margin-bottom: 25px;">Featured Courses</h3>

<div id="drips" class="transitions-enabled">
      <% @courses.each do |course| %>
        <div class="vox">
          <%= link_to course_path(course) do %>
            <div class="panel" style="background-image: url(<%= course.image.url :course %>); height: 400px;">
              <div class='clearfix'>
                <div class="right">
                  <div id="subscribe-<%= course.id %>">
                  <%= render partial: 'courses/subscribe_btn', locals: {course: course} %>
                  </div>
                </div><!-- right -->
              </div><!-- clearfix -->
              <div style="position: absolute; bottom: 0; margin-bottom: 20px;">
                <div>
                  <%= link_to course.name, course_path(course), class: 'label primary tiny', style: 'font-size: 1.5em' %>
                  </br>
                  <span class="label primary"><%=h truncate(course.description, length: 55) %></span>
                </div>
              </div><!-- position absolute -->                 
            </div><!-- panel -->
          <% end %><!-- link_to course do block -->
        </div><!-- vox -->
      <% end %><!-- current_user do block -->
    </div><!-- drips -->
</div>
