<div class="row">
  <div class="panel large-8 large-centered columns">
  <h1 class="text-center"> New Course </h1><br>
  <%= form_for @course do |f| %>
    
    <div class="small-12 large-11 large-centered columns"> 
    <%= f.text_field :name, autofocus: true, placeholder: 'Course Name' %>
    </div>

    <div class="small-12 large-11 large-centered columns">
    <%= f.text_field :description, autofocus: true, placeholder: 'Course Description' %>
    </div>

    <%= f.hidden_field :teacher_id, value: current_user.id, class: 'form-control'  %> 

    <div class="small-12 large-11 large-centered columns">
    <%= f.submit "Create Course", class: "small button primary expand" %>
    </div>

  <% end %>
  
  </div>
</div>