<section class="hero" style="background-image: url(<%= @course.image.url %>);">
  <div class="row intro">
    <div class="small-12 small-centered columns">
      <h1 class="text-center"><span class="label primary" style="font-size: 2em;"><%= @course.name %></span></h1>
      <p class="text-center"><span class="label primary" style="font-size: 1.5em;"><%= @course.description %></span></p>
    </div>
  </div>
</section>


  <div class="small-12 medium-12 large-10 large-centered columns" style="margin-top: 100px;">
    <% @counter = 0 %>
    <% @course.lessons.reverse.each do |lesson| %>
      <div class="panel">
        <div class="clearfix">
          <div class="left">
            <%= lesson_complete_check(lesson, current_user) %>
            <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
            <%= lesson.description %>
          </div>
          <div class="right">
            <% if can? :manage, lesson %>
              <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: "tiny label" %> 
              <%= link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, class: "tiny label alert" %>
              <%= link_to  'Stats', course_heat_map_path(@course, lesson),  remote: true, class: 'expandable tiny label', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Calculating Stats..."} %>
            <% end %>
          </div><!-- right -->
        </div><!-- left -->
        <div id="<%="stats-#{lesson.id}"%>" style="margin-top: 25px; display: none;">
          
          
        </div>
      </div>
      <% @counter += 1 %>
    <% end %>
    <% if can? :manage, @course %>
      <%= link_to new_course_lesson_path(@course) do %>
        <div class="panel" style="text-align: center; border-style: dashed; border-color: #00ade5; border-width: 3px;">
          <i class="fa fa-plus-circle fa-1x" style="color: #00ade5;"></i>
        </div><!-- panel-dashed -->
      <% end %><!-- link_to do block -->
    <% end %>

</div><!-- columns -->


<script>
// $(document).ready(function(){
//   $(".expandable").click(function(e) {
//     e.preventDefault();
//     $($(this).attr('href')).toggle( "fast" );
//   });
// });
</script>