<section class="hero">
  <div class="row intro">
    <div class="small-12 small-centered columns">
      <h1 class="text-center"><%= course_complete_check(@course, current_user.id) %> <%= @course.name %></h1>
      <p class="text-center"><%= @course.description %></p>
    </div>
   <!--  <div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
    </div> -->
  </div>
</section>


  <div class="small-12 medium-12 large-10 large-centered columns" style="margin-top: 100px;">
    <% @course.lessons.reverse.each do |lesson| %>
      <div class="panel">
        <div class="clearfix">
          <div class="left">
            <%= lesson_complete_check(lesson, current_user) %>
            <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
            <%= lesson.description %>
          </div>
          <div class="right">
            <% if can? :manage, lesson %>
              <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: "tiny label", remote: true %> 
              <%= link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, class: "tiny label alert" %>
            <% end %>
          </div>
        </div>
        <div id="lesson_edit-form" style="display:none;"></div>
      </div>
    <% end %>




    <% if can? :manage, @course %>
      <%= link_to 'Add Lesson', new_course_lesson_path(@course), class: "small button primary", remote: true %>
    <% end %>

    <%= link_to 'Back', courses_path, class: "small button primary" %>

    <div id="lesson-form" style="display:none;"></div>

</div><!-- columns -->


