<div class="row">

  <div class="large-8 large-centered columns">
  <h2 class="text-center">
    <% if @course.complete? %>
      <i class= "fa fa-check-circle-o" style= "color: green;"></i>
    <% else %>
      <i class= "fa fa-circle-o" style= "color: red;"></i>
    <% end %>
    <%= @course.name %></h2>
  <%= @course.description %>
  <br><hr>
  
  <div class="slider responsive">
    <% @course.lessons.each do |lesson| %>
      
      <div class="lessonslide">
        <% if lesson.complete? %>
          <i class= "fa fa-check-circle-o" style= "color: green;"></i>
        <% else %>
          <i class= "fa fa-circle-o" style= "color: red;"></i>
        <% end %>
      
        <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
        <%= lesson.description %>
        <%= lesson.content %>
        <p><%= lesson.video_time %></p>
        <div class="lessonEditDelete">
          <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: "tiny button primary" %> 
          <%= link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, class: "tiny button primary" %>
        </div>
      </div>
      
    <% end %>

  </div>
  
  <%= link_to 'Add Lesson', new_course_lesson_path(@course), class: "small button primary" %>
  <%= link_to 'Back', courses_path, class: "small button primary" %>

  </div>


</div>


<script type="text/javascript">
$(document).ready(function() {
  $('.responsive').slick({
          // dots: true,
          infinite: true,
          speed: 300,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [{
              breakpoint: 1024,
              settings: {
                  slidesToShow: 0,
                  slidesToScroll: 1,
                  centerMode: true,

              }

          }, {
              breakpoint: 800,
              settings: {
                  slidesToShow: 3,
                  slidesToScroll: 2,
                  dots: true,
                  infinite: true,

              }


          }, {
              breakpoint: 600,
              settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                  dots: true,
                  infinite: true,
                  
              }
          }, {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  dots: true,
                  infinite: true,
                  autoplay: true,
                  autoplaySpeed: 2000,
              }
          }]
      });
});
</script>




