<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Banner</p>
      <p class="links">
        <%= link_to fa_icon("info-circle", text: 'Who We Are'), about_path %>
        <%= link_to fa_icon("phone", text: 'Contact'), contact_path %>
        <%= link_to fa_icon("twitter-square", text: 'Twitter'), "https://twitter.com/BannerDevs", target: "_blank" %>
        <%= link_to fa_icon("facebook-square", text: 'Facebook'), "http://www.facebook.com/bannerdevs", target: "_blank" %>
        <%= link_to fa_icon("instagram", text: 'Instagram') %>
      </p>
      <p class="copyright">Banner Copyright © 2015</p>
    </div>
  </div>
</footer>